<!DOCTYPE html>
<html>
<head>
    <title>SubhashCyberSecurity Downloader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>SubhashCyberSecurity</h1>
    <h2>Insta & YouTube Video Downloader</h2>

    <form method="POST">
        <input type="text" name="url" placeholder="Paste Instagram / YouTube link" required>
        <button type="submit">Download Video</button>
    </form>

    <p class="note">
        Supports Instagram Reels & YouTube Videos
    </p>
</div>

</body>
</html>
